{% extends "admin/base.html" %}

{% block title %}Housing Records{% endblock %}

{% block css %}

{% endblock %}

{% block scripts %}{% endblock %}

{% block content %}


<div class="page-content-wrapper">
  <!-- START PAGE CONTENT -->
  <div class="content">
    <div class="jumbotron page-cover" data-pages="parallax">
      <div class="container-fluid container-fixed-lg">
        <div class="inner" style="transform: translateY(0px); opacity: 1;">
          <!-- START BREADCRUMB -->
          <ul class="breadcrumb">
            <li>
              <p>Housing</p>
            </li>
            <li><a href="#" class="active">Records</a>
            </li>
          </ul>
          <!-- END BREADCRUMB -->
          <div class="container-md-height m-b-20">
            <div class="row row-md-height">
              <div class="col-lg-7 col-md-6 col-md-height col-middle bg-white">
                <!-- START PANEL -->
                <div class="full-height">
                  <div class="panel-body text-center">
                    <img class="image-responsive-height" src="{{ MEDIA_URL }}img/covers/cover1.jpg" alt="ISE">
                  </div>
                </div>
                <!-- END PANEL -->
              </div>
              <div class="col-lg-5 col-md-height col-md-6 col-top">
                <!-- START PANEL -->
                <div class="panel panel-transparent">
                  <div class="panel-body">
                    <h2>Housing Records</h2>
                    <a class="btn btn-lg btn-warning" href="#">Export to Excel</a>
                    <br>
                  </div>
                </div>
                <!-- END PANEL -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="row">
    	<div class="col-md-10 col-md-offset-1">
        <table class="table table-hover text-left">
            <thead>
              <tr>
                <th>#</th>
                <th>Full Name</th>
                <th>Country</th>
                <th>Email</th>
                <th>University</th>
                <th>People</th>
                <th>Time to stay</th>
                <th>Date to arrival</th>
                <th>Amount willing to pay</th>
                <th>Live with</th>
                <th>Comments</th>
              </tr>
            </thead>
            <tbody>
              {% for record in records %}
                <tr>
                    <td>{{ forloop.counter}}</td>
                    <td>{{ record.name }} {{ record.last_name }}</td>
                    <td>{{ record.country }}</td>
                    <td><a href="mailto:{{ record.email }}">{{ record.email }}</a></td>
                    <td>{{ record.university }}</td>
                    <td>{{ record.people }}</td>
                    <td>{{ record.time_of_stay }}</td>
                    <td>{{ record.date_arrival }}</td>
                    <td>{{ record.amount_pay }}</td>
                    <td>{{ record.live_with }}</td>
                    <td>{{ record.comments }}</td>
                </tr>
                  {% endfor %}
            </tbody>
        </table>
    	</div>
    </div>


  </div>
  <!-- END PAGE CONTENT -->
  <!-- START COPYRIGHT -->
  {% include "admin/footer.html"%}
</div>



{% endblock %}


