<div class="font-oswald text-center" style="margin-top: 10px; margin-bottom: 15px;">
	<a href="#">© ISE 2015</a></br>
	<a href="#" data-toggle="modal" data-target="#aboutModal" class="about-icon" style="font-size:16px">ABOUT US  -</a>
	<a href="/terms/" style="font-size:16px">  TERMS AND CONDITIONS</a>

</div>
<!-- Modal -->
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content wrapper2">
	    <form id="contactForm" method="POST" enctype="multipart/form-data">{% csrf_token %}
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title font-oswald" id="myModalLabel">
	        	<img src="/media//img/logo.png" width="100">
	        	ABOUT US
	        </h4>
	      </div>
	      <div class="modal-body">

<p>
Party & Travel in a new way! Live Mexico!
</p>

<h4>Description</h4>

<p>
We are a Mexican collective that created this group for the sole purpose of making your exchange experience here in our beautiful country in one word: flawless. By showing you our version of our country through extraordinary journeys and throwing the most unbelievable parties.
</p>

<p>
Please reach out to our staff in order to book trips, parties, and clubbing all throughout your stay here. As well as to help you with any doubts about housing, immigration, school and whatever other questions you may have.
</p>

<p>
We are happy to welcome you to your new home, the amazing city of Monterrey. Please feel free to invite any of your other exchange friends, and any doubt just feel free to ask, and we will be glad to help you.
</p>

<h4>Mission</h4>

<p>
Our mission is to break with all the cultural stereotypes and become a strongly unified multicultural group. 
</p>

<h4>Vision</h4>

<p>
To become Mexico’s most efficient travel & event organization liaison to world youth. 
</p>

<h5>-We care</h5>

<p>
Youtube: <a href="http://www.youtube.com/user/isemonterrey">http://www.youtube.com/user/isemonterrey</a></br>
Twitter: <a href="https://twitter.com/ISEmonterrey">https://twitter.com/ISEmonterrey</a></br>
Instagram: <a href="http://instagram.com/isemonterrey">http://instagram.com/isemonterrey</a></br>
</p>




	      </div>
	    </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
