{% extends "events/base.html" %}

{% block title %}

{% endblock %}

{% block content %}
				<div class="main wrapper1">
					<div class="font-oswald">
						<div class="event-description inline-block">
							<div>
								<div class="inline-block">
									<span style="font-size:30px">{{ event.name|upper }}</span>
								</div>
								<div class="inline-block">
									<span style="font-size:18px;margin-left:10px;">AUGUST 22</span>
								</div>
							</div>
							<div>
								<p style="text-align: justify;">
								LOCATED IN THE “HUASTECA POTOSINA” IN SAN LUIS POTOSI YOU’LL FIND THE MAGICAL AND EXCEPTIONAL XILITLA, HOME TO THE MOST AMAZING AND BREATHTAKING SPOTS. DEEP IN THE MYSTICAL WILDERNESS YOU’LL FIND THE SURREAL CASTLE...
								</p>
								<a href="#">[MORE INFO]</a>
							</div>
						</div>
						<div class="event-cover inline-block">
							<img width="550" src="/media/img/xilitla_cover.jpg">
						</div>
					</div>
				</div>
{% endblock %}