<footer id="site-footer">

  <div class="primary-footer">
    <div class="main-col">

      <div class="past-years-aligner">
        <div class="site-title">
          <a href="#">
            <img class="logo" src="{{ MEDIA_URL }}img/header-logo.png" alt="">
            <span class="site-title-text">International Student Embassy</span>
          </a>
        </div>
      </div>

      <div class="nav link-list">
        <ul class="site-nav clearfix">
          <li class="nav-pulse"><a href="#">About Us</a></li>
          <li class="nav-only"><a href="#">Team</a></li>
          <li class="nav-trends"><a href="#">Facebook</a></li>
          <li class="nav-voices"><a href="#">Youtube</a></li>
        </ul>
      </div>

    </div>
  </div>

</footer>