{% extends "admin/base.html" %}

{% block content %}
<div class="page-content-wrapper content-builder active full-height" id="plainContent">
  <!-- START PAGE CONTENT -->
  <div class="content">
    <!-- START PAGE COVER -->
    <div class="container-fluid container-fixed-lg ">
      <ul class="breadcrumb">
        <li>
          <p>Home</p>
        </li>
        <li><a href="#" class="active">Dashboard</a>
        </li>
      </ul>
      <!-- END BREADCRUMB -->
      <h3 class="page-title">Dashboard</h3>
    </div>
  </div>
  <!-- END PAGE CONTENT -->
  <!-- START COPYRIGHT -->
  {% include "admin/footer.html"%}
</div>
{% endblock %}