<form action="{{action_url|default:''}}" method="post" data-reload_when_submit_success="{{ reload_when_submit_success|yesno:'true,false' }}">
    {% csrf_token %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">
            {{title|default:'Modal Form Title'}}
        </h4>
    </div>
    <div class="modal-body">
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    {% for field in form.visible_fields %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
        </div>
    {% endfor %}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">{% if mode == 'create' %}{{create_label|default:'Create'}}{% elif mode == 'update' %}{{update_label|default:'Update'}}{% endif %}</button>
    </div>
</form>