<img width="700px" src="https://s3-us-west-2.amazonaws.com/isemonterrey/email/trips_confirmation.jpg">

<img width="700px" src="{{ pay.trip.get_cover_url }}">

<img width="700px" src="https://s3-us-west-2.amazonaws.com/isemonterrey/email/tripinformation.png">

	<table cellspacing="0" cellpadding="0" border="0" width="600">
		<tr>
			<td width="200"></td>
			<td width="200">
				<b>TRIP:</b>
			</td>
			<td width="200">
				{{ pay.trip.name|upper }}
			</td>
		</tr>
		<tr>
			<td width="200"></td>
			<td width="200">
				<b>YOUR NAME:</b>
			</td>
			<td width="200">
				{{ pay.name|upper }} {{ pay.last_name|upper }}
			</td>
		</tr>
		<tr>
			<td width="200"></td>
			<td width="200">
				<b>EMAIL:</b>
			</td>
			<td width="200">
				{{ pay.email }}
			</td>
		</tr>
		<tr>
			<td width="200"></td>
			<td width="200">
				<b>METHOD:</b>
			</td>
			<td width="200">
				{{ pay.method|upper }}
			</td>
		</tr>
		<tr>
			<td width="200"></td>
			<td width="200">
				<b>PRICE:</b>
			</td>
			<td width="200">
				$ {{ pay.trip.price_sale }}
			</td>
		</tr>
		<tr>
			<td width="200"></td>
			<td width="200">
				<b>STATUS OF PAYMENT:</b>
			</td>
			<td width="200">
				PENDING
			</td>
		</tr>
		<tr>
			<td width="200"></td>
			<td width="200">
				<b>DATE OF TRIP:</b>
			</td>
			<td width="200">
				{{ pay.trip.date }}
			</td>
		</tr>
	</table>





<div style="width: 750px; margin-top:60px;">
	<h1>
		Thanks for registering!
	</h1>
	<h2>
		You may now pay via the following methods:
	</h2>
	<ol>
		<li>
			In cash at the ISE office salon Chipinque located on the 4th floor of the Fiesta Inn Hotel at Paseo Tec #1, Garza Sada Ave # 2411 Colonia Roma Monterrey NL 64700
		</li>
		<li>
			In cash with any ambassador listed on the facebook event
		</li>
		<li>
			Using the paypal link on the facebook event
		</li>
	</ol>

	<h1>
		Gracias por registrarte!
	</h1>
	<h2>
		Pueden utilizar los siguientes métodos de pago:
	</h2>
	<ol>
		<li>
			Efectivo en nuestra oficina ubicada en el salon Chipinque, 4to piso, Hotel Fiesta Inn en Paseo Tec 1,  Garza Sada Ave # 2411 Colonia Roma Monterrey NL 64700
		</li>
		<li>
			Efectivo con cualquier embajador oficial de ISE enlistados en el evento de facebook
		</li>
		<li>
			Usando el enlace paypal en el evento de facebook
		</li>
	</ol>
</div>


<img width="700px" src="https://s3-us-west-2.amazonaws.com/isemonterrey/email/jointheexperience.jpg">
