{% extends "admin/base.html" %}

{% block title %}
ROOM RECORDS | ISE | WE CARE
{% endblock %}

{% block css %}
{% endblock %}
{% block scripts %}
<script>
    $('body').ready(function(){
        var add_one_bus_trigger = $(this).find('#add_one_bus_trigger');
        var modal_one_bus_view = $(this).find('#add_one_bus');
        $(add_one_bus_trigger).click(function(e){
            e.preventDefault();
            $(modal_one_bus_view).modal()
        });


        var add_multiple_bus_trigger = $(this).find('#add_multiple_bus_trigger');
        var modal_multiple_bus_view = $(this).find('#add_multiple_bus');
        $(add_multiple_bus_trigger).click(function(e){
            e.preventDefault();
            $(modal_multiple_bus_view).modal()
        });

        var edit_room_trigger = $(this).find('.edit_room_trigger');
        var modal_edit_room_view = $(this).find('#edit_room');
        $(edit_room_trigger).click(function(e){
            e.preventDefault();
            var url = $(this).data('url');
            $(modal_edit_room_view).modal('hide');  // Hide in case it still been showing
            $(modal_edit_room_view).removeData('bs.modal');  // Remove any posible data remaing
            $(modal_edit_room_view).modal({
                'remote': url
            });
            $(modal_edit_room_view).modal('show');
        });
    });
</script>
{% endblock %}

{% block content %}

<div class="page-content-wrapper">
  <!-- START PAGE CONTENT -->
  <div class="content">
    <div class="jumbotron page-cover" data-pages="parallax">
      <div class="container-fluid container-fixed-lg">
        <div class="inner" style="transform: translateY(0px); opacity: 1;">
          <!-- START BREADCRUMB -->
          <ul class="breadcrumb">
            <li>
              <p>Trips</p>
            </li>
            <li><a href="#" class="active">{{ trip }}</a>
            </li>
          </ul>
          <!-- END BREADCRUMB -->
          <div class="container-md-height m-b-20">
            <div class="row row-md-height">
              <div class="col-lg-7 col-md-6 col-md-height col-middle bg-white">
                <!-- START PANEL -->
                <div class="full-height">
                  <div class="panel-body text-center">
                    <img class="image-responsive-height" src="{{ trip.cover.url }}" alt="ISE">
                  </div>
                </div>
                <!-- END PANEL -->
              </div>
              <div class="col-lg-5 col-md-height col-md-6 col-top">
                <!-- START PANEL -->
                <div class="panel panel-transparent">
                  <div class="panel-body">
                    <h3>{{ trip }}</h3>
                    <h4>Bus Records</h4>
                    <a class="btn btn-lg btn-warning" href="/trips/{{ trip.pk }}/busesexcel/">Export to Excel</a>
                    <br>
                  </div>
                </div>
                <!-- END PANEL -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
        <div class = "col-md-1 col-md-offset-10">
        {% if trip.edit_is_allow %}
            <div class="btn-group">
                <button type="button" class="btn btn-success btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Add Bus <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#" id="add_one_bus_trigger">
                            One Bus
                        </a>
                    </li>
                    <li>
                        <a href="#" id="add_multiple_bus_trigger">
                            Multiple Buses
                        </a>
                    </li>
                </ul>
            </div>
        {% endif %}
        </div>
    </div>

    <div class="row">

        <div class="col-md-8 col-md-offset-2">

            {% for bus in buses %}

            <h1>{{ bus.bus }}</h1>
            <table class="table table-hover text-left" style="margin-top:30px">
                <thead>
                <tr class="warning">
                    <th>#</th>
                    <th>Full Name</th>
                    <th>Confirmation Code</th>
                    <th>Record Date</th>
                </thead>
                <tbody>
                {% for seat in bus.seats %}
                  <tr>
                    <td>{{ forloop.counter}}</td>
                    <td>{{ seat.name|title }} {{ seat.last_name|title }}</td>
                    <td>{{ seat.confirmation }}</td>
                    <td>{{ seat.timestamp}}</td>
                  </tr>
                {% endfor %}
                </tbody>
            </table>

            {% endfor %}

        </div>

    </div>

  </div>
  <!-- END PAGE CONTENT -->
  <!-- START COPYRIGHT -->
  {% include "admin/footer.html"%}
</div>
{% url 'admin_bus_records_add_one_bus' tripID=trip.id as add_one_bus_action %}
{% include 'admin/modal-form.html' with id='add_one_bus' title='Add One Bus' form=add_bus_form mode='create' action_url=add_one_bus_action create_label='Add Bus' reload_when_submit_success=True %}
{% url 'admin_hotel_records_add_multiple_bus' tripID=trip.id as add_multiple_bus_action %}
{% include 'admin/modal-form.html' with id='add_multiple_bus' title='Add Multiple Buses' form=add_multiple_bus_form mode='create' action_url=add_multiple_bus_action create_label='Add Buses' reload_when_submit_success=True %}

{% endblock %}


