{% extends "admin/base.html" %}

{% block title %}
ROOM RECORDS | ISE | WE CARE
{% endblock %}

{% block css %}
{% endblock %}
{% block scripts %}
<script>
    $('body').ready(function(){
        var add_one_bus_trigger = $(this).find('#add_one_bus_trigger');
        var modal_one_bus_view = $(this).find('#add_one_bus');
        $(add_one_bus_trigger).click(function(e){
            e.preventDefault();
            $(modal_one_bus_view).modal()
        });


        var add_multiple_bus_trigger = $(this).find('#add_multiple_bus_trigger');
        var modal_multiple_bus_view = $(this).find('#add_multiple_bus');
        $(add_multiple_bus_trigger).click(function(e){
            e.preventDefault();
            $(modal_multiple_bus_view).modal()
        });

        var edit_bus_trigger = $(this).find('.edit_bus_trigger');
        var modal_edit_bus_view = $(this).find('#edit_bus');
        $(edit_bus_trigger).click(function(e){
            e.preventDefault();
            var url = $(this).data('url');
            $(modal_edit_bus_view).modal('hide');  // Hide in case it still been showing
            $(modal_edit_bus_view).removeData('bs.modal');  // Remove any posible data remaing
            $(modal_edit_bus_view).modal({
                'remote': url
            });
            $(modal_edit_bus_view).modal('show');
        });
    });
</script>
{% endblock %}

{% block content %}

<div class="page-content-wrapper">
  <!-- START PAGE CONTENT -->
  <div class="content">
    <div class="jumbotron page-cover" data-pages="parallax">
      <div class="container-fluid container-fixed-lg">
        <div class="inner" style="transform: translateY(0px); opacity: 1;">
          <!-- START BREADCRUMB -->
          <ul class="breadcrumb">
            <li>
              <p>Trips</p>
            </li>
            <li><a href="#" class="active">{{ trip }}</a>
            </li>
          </ul>
          <!-- END BREADCRUMB -->
          <div class="container-md-height m-b-20">
            <div class="row row-md-height">
              <div class="col-lg-7 col-md-6 col-md-height col-middle bg-white">
                <!-- START PANEL -->
                <div class="full-height">
                  <div class="panel-body text-center">
                    <img class="image-responsive-height" src="{{ trip.cover.url }}" alt="ISE">
                  </div>
                </div>
                <!-- END PANEL -->
              </div>
              <div class="col-lg-5 col-md-height col-md-6 col-top">
                <!-- START PANEL -->
                <div class="panel panel-transparent">
                  <div class="panel-body">
                    <h3>{{ trip }}</h3>
                    <h4>Bus Records</h4>
                    <a class="btn btn-lg btn-warning" href="/trips/{{ trip.pk }}/busesexcel/">Export to Excel</a>
                    <br>
                  </div>
                </div>
                <!-- END PANEL -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
        <div class = "col-md-1 col-md-offset-10">
        {% if trip.edit_is_allow %}
            <div class="btn-group">
                <button type="button" class="btn btn-success btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Add Bus <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#" id="add_one_bus_trigger">
                            One Bus
                        </a>
                    </li>
                    <li>
                        <a href="#" id="add_multiple_bus_trigger">
                            Multiple Buses
                        </a>
                    </li>
                </ul>
            </div>
        {% endif %}
        </div>
    </div>

    <div class="row">

        <div class="col-md-8 col-md-offset-2">
    {% with trip.buses_with_available_seat as available_buses %}
        {% for bus in buses %}
            {% with bus.available_seat_list as available_seat_list %}
            <div class = "col-md-6">
                <h1>{{ bus }}</h1>
            </div>
            <div class = "col-md-6">
            {% if bus.edit_is_allow %}
                <button type="button" class="edit_bus_trigger btn btn-success btn-sm pull-right" data-url="{% url 'admin_hotel_records_edit_bus' tripID=trip.id busID=bus.id %}">
                    <span class="glyphicon glyphicon glyphicon-pencil"></span>
                    Edit
                </button>
            {% endif %}
            {% if bus.can_remove %}
                <a href="{% url 'admin_hotel_records_remove_bus' tripID=trip.id busID=bus.id  %}">
                    <button type="button" class="btn btn-danger btn-sm pull-right">
                        <span class="glyphicon glyphicon glyphicon-trash"></span>
                        Remove
                    </button>
                </a>
            {% endif %}
            </div>
            <table class="table table-hover text-left" style="margin-top:30px">
                <thead>
                <tr class="warning">
                    <th>#</th>
                    <th>Full Name</th>
                    <th>Confirmation Code</th>
                    <th>Record Date</th>
                    <th>Seat Number</th>
                    <th></th>
                    <th></th>
                </thead>
                <tbody>
                {% for seat in bus.seats %}
                  <tr>
                    <td>{{ forloop.counter}}</td>
                    <td>{{ seat.name|title }} {{ seat.last_name|title }}</td>
                    <td>{{ seat.confirmation }}</td>
                    <td>{{ seat.timestamp}}</td>
                    <td>{{ seat.seat_number|default:'No Seat Assigned'}}</td>
                    <td>
                    {% if bus.edit_is_allow and available_seat_list|length > 0 %}
                        <div class="btn-group">
                            <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Move to Other Seat ... <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                        {% for available_seat in available_seat_list %}
                                <li>
                                    <a href="{% url 'admin_bus_records_change_seat' tripID=trip.id seat=seat.id seat_number=available_seat.number %}">
                                        {{ available_seat.number }}
                                    </a>
                                </li>
                        {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    </td>
                    <td>
                    {% if bus.can_change_roomate and available_buses|length > 0 %}
                        <div class="btn-group">
                            <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Move to Other Bus ... <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                        {% for available_bus in available_buses %}
                            {% if available_bus.id  != bus.id %}
                                <li>
                                    <a href="{% url 'admin_bus_records_move_to' tripID=trip.id seat=seat.id busID=available_bus.id %}">
                                        {{ available_bus }} ({{ available_bus.available_seats }} of {{ available_bus.total_seats }} left)
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endwith %}
        {% endfor %}
    {% endwith %}

        </div>

    </div>

  </div>
  <!-- END PAGE CONTENT -->
  <!-- START COPYRIGHT -->
  {% include "admin/footer.html"%}
</div>
{% url 'admin_bus_records_add_one_bus' tripID=trip.id as add_one_bus_action %}
{% include 'admin/modal-form.html' with id='add_one_bus' title='Add One Bus' form=add_bus_form mode='create' action_url=add_one_bus_action create_label='Add Bus' reload_when_submit_success=True %}
{% url 'admin_hotel_records_add_multiple_bus' tripID=trip.id as add_multiple_bus_action %}
{% include 'admin/modal-form.html' with id='add_multiple_bus' title='Add Multiple Buses' form=add_multiple_bus_form mode='create' action_url=add_multiple_bus_action create_label='Add Buses' reload_when_submit_success=True %}
{% include 'admin/modal-form.html' with id='edit_bus' title='Edit Bus' mode='update' update_label='Edit Bus' reload_when_submit_success=True %}

{% endblock %}


