{% extends "trips/base.html" %}

{% block title %}
RECORDS ON HOTEL | ISE | WE CARE
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}bootstrap/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/flat-ui.css">
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{{ MEDIA_URL }}bootstrap/js/bootstrap.min.js"></script>
{% endblock %}

{% block content %}
<div class="main">
    <div class="wrapper2" style="width:970px;margin-left:16px;">

        <div class="text-center">
            <img class="housing-image" src="{{ trip.cover.url }}">
        </div>
        <div class="text-center">
            <h3>{{ trip.name }}</h3>
        	<h4 class="font-oswald">RECORDS ON HOTEL</h4>

        	<a class="btn btn-lg btn-warning margin20" href="/trips/{{ trip.pk}}/hotelexcel/">Export to Excel</a>

            {% for room in rooms %}

            <h4>Room {{ room }}</h4>
        	<table class="table table-hover text-left" style="margin-top:30px">
                <thead>
                <tr class="warning">
                    <th>#</th>
                    <th>Name</th>
                    <th>Last Name</th>
                </tr>
                </thead>
                <tbody>
                	{% for roomate in room.roomates.all %}
                  <tr>
                    <td>{{ forloop.counter}}</td>
                    <td>{{ roomate.payment.name }}</td>
                    <td>{{ roomate.payment.last_name }}</td>
                  </tr>
                  	{% endfor %}
                </tbody>
            </table>

            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}