{% extends "trips/base.html" %}

{% block title %}
{{ trip.name|upper }} 
{% endblock %}

{% block content %}
        
        <div class="main">
          <div class="text-center">
            <img class="wrapper2" style="padding: 0px;position: relative;left:-3px;margin-bottom:30px;" src="{{ trip.cover.url }}" width="970">
          </div>
          <div class="column1 wrapper2" style="width:560px;margin-right:15px;height: 942px;overflow: auto;overflow-x: hidden;">
              <div class="font-oswald">
                <div class="inline-block" style="width:300px">
                  <span style="font-size:30px">{{ trip.name|upper }}</span>
                </div>
                <div class="inline-block">
                  <span style="font-size:18px;margin-left:10px;">{{ trip.date }}</span>
                </div>
                <div>
                  <span style="font-size:16px;">PRICE PRE-SALE: ${{ trip.price_presale }} MXN</span></br>
                  <span style="font-size:16px;">PRICE SALE: ${{ trip.price_sale }} MXN</span>
                </div>
                <div>
                  <span style="font-size:16px;">-----------------------------------------------------------------------------------------------------------------------------------------------------------</span>
                </div>
              </div>
              <div class="description-container" style="height:830px;overflow:auto;overflow-x:hidden;">
                {% autoescape off %}
                          {{ trip.description }}
                {% endautoescape %}
              </div>
          </div>
          <div class="column2">
            <div class="wrapper2 text-align-center" style="margin-top:15px">
              <h1 class="font-oswald">GET YOUR TICKETS HERE</h1>
              <a href="/trips/pay/{{ trip.pk }}/">
                <img src="{{ MEDIA_URL }}img/ticket.png">
              </a>
            </div>
            <div class="wrapper2" style="height:600px;overflow: auto;overflow-x: hidden;">
              <div class="fb-comments" data-href="http://www.isefamily.com{% url 'view_trip' trip.slug %}" data-colorscheme="light" data-width="350" data-numposts="10"></div>
            </div>
          </div>
          {% if trip.video %}
          <div class="video-area text-align-center">
            <h1 class="font-oswald" style="margin:20px 0px">CHECK OUT OUR VIDEO</h1>
            <iframe width="640" height="360"  src="//www.youtube.com/embed/{{ trip.get_youtube_id }}" frameborder="0" allowfullscreen></iframe>
          </div>
          {% endif %}
        </div>
{% endblock %}